h1 編集
iframe width="560" height="315" src="https://www.youtube.com/embed/#{@post.youtube_url}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"
= render 'form', post: @post