h1 動画
iframe width="560" height="315" src="https://www.youtube.com/embed/#{@post.youtube_url}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"
p = @post.title
= raw Rinku.auto_link(simple_format(@post.body))

= "タグ"
- @post_tags.each do |tag|
  p = link_to tag.tagname, tag_posts_path(tag_id: tag.id)