@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap-material-design/dist/css/bootstrap-material-design';

.pagination {
  justify-content: center; 
}
.video {
  height: 500px;
}

.scroll {
  height: 500px;
  overflow: scroll;
}